*{
    padding: 0;
    margin: 0;
}


.button{
    padding: 1rem 2.5rem;
    border-radius: 28px;
    border-style: none;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
    color: #fff;
    cursor: pointer;
}

.button:hover{
    background-image: linear-gradient(to right, hsl(136, 65%, 66%) , hsl(192, 63%, 64%));
}

@media only screen and (max-width: 1000px){
   
}