

.container{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 10rem;

}

.intro{
    width: 35%;
    margin-top: 6rem ;
}

.overflow-img{
  width: 60%;
  background-image: url('../../images/bg-intro-desktop.svg');
  background-size: 1200px 950px ;
  background-position-y: -250px;
  background-position-x: 100px;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  overflow: hidden;
}

.intro h1{
    font-size: 3.3rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: hsl(233, 26%, 24%);
}

.intro p {
    font-size: 1.2rem;
    color: hsl(233, 8%, 62%);
    line-height: 1.5rem;
    padding-bottom: 3rem;
}



.mockups{
   position: relative;
   transform: translateX(30.8%);
   width: 650px;
   height: 800px;
   z-index: -1;
   margin-top: -100px;
}

@media screen and (max-width: 1000px) {
    .container{
        margin: 0;
        flex-direction: column-reverse;
    }

    .overflow-img{
        background-image: url('../../images/bg-intro-mobile.svg');
        background-size: 100%;
        background-position-Y: -40px ;
        background-position-x: 100%;
        width: 100%;
        
    }

    .mockups{
        width: 100%;
        height: 100%;
        transform: translate(0);
    }

    .intro{
        width: 100%;
        box-sizing: border-box;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro h1{
        font-size: 2.5rem;
        text-align: center;
    }

}
