footer{
    background: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 13rem;
    color: #fff;
    padding: 2rem;
}




.footer-div{
    display: flex;
    flex-direction: column;
}

.footer-div-img{
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.footer-div-a{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

.footer-div-p{
    padding-top: 2rem;
}

@media screen and (max-width: 1000px){
    footer{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .footer-div{
        align-items: center;
    }

    .footer-div-a{
        padding-top: 0.2rem;

    }


    .footer-div-img{
        padding: 2rem 0rem;
    }

    .footer-div-img img{
        padding-right: 1rem;
    }
}


